<div class="section education">
  <h2>Education</h2>
  <div class="education-item">
    <h3>Full Stack .NET Cloud Developer</h3>
    <span>Humber College, Toronto | 2024</span>
    <ul>
      <li><strong>Courses:</strong> ASP.NET Core, Advanced C#, SQL Server, Angular, Azure</li>
    </ul>
  </div>
  <div class="education-item">
    <h3>Bachelor’s degree in computer science </h3>
    <span> Gujarat Technology University, India | 2018</span>
    <ul>
      <li>Credential assessed by WES and is Canadian Equivalent</li>
    </ul>
  </div>
</div>
