<div id="about" class="section about">
  <h2 class="textcentre">About</h2>

  <p>
    I thrive on adapting to challenges and evolving work environments, consistently garnering positive feedback from peers and clients. My expertise includes ASP.NET, .NET Core, C#, MVC, Entity Framework, LINQ, dapper, as well as proficiency in web technologies such as HTML, CSS, JavaScript/AngularJS, Typescript, jQuery, Bootstrap, Web services, and Web API.

  <br/>  I also excel in database technologies, including SQL, Triggers, Stored Procedures, and Views. Furthermore, I'm adept with tools like JIRA, Git, HubSpot ,Unit Testing, and well-versed in Agile methodologies.
  </p>
</div>
