<div class="section professional-skills">
  <h2 class="centre">Professional Skills</h2>
  <div class="skill">
    <span><strong>Programming Languages:</strong></span> C#, HTML5, CSS3, JavaScript,Typescript
  </div>
  <div class="skill">
    <span><strong>Database Management:</strong></span> Microsoft SQL Server, MySQL, MongoDB
  </div>
  <div class="skill">
    <span><strong>Frameworks:</strong></span> .Net, Angular, Vue.js, Microsoft Web API, .NET 8, Entity Framework, LINQ
  </div>
  <div class="skill">
    <span><strong>Web Technologies:</strong></span> jQuery, UI/UX Design,Azure API
  </div>
  <div class="skill">
    <span><strong>Project Management:</strong></span> Requirements Collection & Analysis, Agile Methodologies
  </div>
  <div class="skill">
    <span><strong>Cloud Platforms:</strong></span> AWS, Azure
  </div>
  <div class="skill">
    <span><strong>Development Tools:</strong></span> Git,JIRA, Postman, GraphQL
  </div>
  <div class="skill">
    <span><strong>System Administration:</strong></span> Windows Server, Active Directory, DNS, DHCP
  </div>
 
</div>
