<div class="section contact">
  <h2>Contact</h2>
  <!-- <div id="map"></div> -->
  <form>
    <label for="name">Full Name:</label>
    <input type="text" id="name" name="name">
    <label for="Phone">Phone:</label>
    <input type="number" id="number" name="number">

    <label for="email">Email:</label>
    <input type="email" id="email" name="email">

    <label for="message">Message:</label>
    <textarea id="message" name="message"></textarea>

    <button type="submit">Submit</button>
  </form>
</div>
