<div class="social-media">
  <a href="https://www.linkedin.com/in/jinali-hingladiya/" target="_blank" aria-label="LinkedIn">
    <i class="fab fa-linkedin btn"></i>
  </a>
  <a href="https://www.instagram.com" target="_blank" aria-label="Instagram">
    <i class="fab fa-facebook btn"></i>
  </a>
  <a href="https://twitter.com/" target="_blank" aria-label="Twitter">
    <i class="fab fa-twitter btn"></i>
  </a>
  <a href="https://www.instagram.com" target="_blank" aria-label="Instagram">
    <i class="fab fa-instagram btn"></i>
  </a>
</div>
