<div class="section work-experience">
  <h2>Work Experience</h2>
  <div class="experience">
    <h3>Carib Farm</h3>
    <span>Software developer | Jan 2024 – March 2024</span>
    <ul>
      <li><strong>Technologies Used:</strong>  .Net, MVC, JavaScript, C#, LINQ, SQL, Git</li>

    </ul>
  </div>
  <div class="experience">
    <h3>.Net Developer</h3>
    <span>Laminds | Jan 2029 – July 2023</span>
    <ul>
      <li><strong>Technologies Used:</strong>
        Angular JS, jQuery, JavaScript, Typescript, HTML5, CSS3, Bootstrap.</li>
        <li><strong>Other Tools:  VS Code, Visual Studio 2017-2022, Postman, Tortoise GIT, JIRA, Slack, MS SQL Server.</strong></li>
    </ul>
  </div>
  <!-- <div class="experience">
    <h3>Full Stack Developer (Freelance)</h3>
    <span>May 2021 – Dec 2023</span>
    <ul>
      <li><strong>Front-End and Back-End Development:</strong> Developed web applications using Angular and Laravel/PHP, ensuring clean, efficient, and well-documented code for 13 clients across various sectors.</li>
      <li><strong>API Development:</strong> Created and maintained APIs using C# .Net Core, focusing on scalability and reliability.</li>
      <li><strong>Database Management:</strong> Designed and implemented databases, including Microsoft SQL Server, with efficient data management and seamless integration.</li>
      <li><strong>Cloud Computing:</strong> Deployed applications on AWS, ensuring scalability and robustness.</li>
      <li><strong>Agile and Scrum Methodologies:</strong> Participated in Agile practices, including daily stand-ups, sprint planning, and retrospectives.</li>
      <li><strong>Code Quality and Testing:</strong> Implemented automated testing frameworks using Selenium, ensuring code quality and reliability.</li>
    </ul>
  </div> -->
</div>
